html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --main1: #cdb4db;
    --main2: #bde0fe;
    --main3: #ffc8dd;
    --main4: #a2d2ff;
    --main5: #ffafcc;
    --dark-text: #0e0116;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: #f6f3f7;
        background: black;
    }
}
