.princess-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    background-color: #ededed;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    align-items: center;
    justify-content: space-around;
}

.color-input {
    border: none;
    outline: none;
    padding: 0;
    box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
}

.color-input:hover {
    border: 1px solid black;
}

.input-label {
    display: flex;
    padding: 16px;
    width: 100%;
    justify-content: space-between;
}

.add-brincess {
    padding: 8px 16px;
    width: 50%;
    justify-content: space-between;
}

.add-button {
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    padding: 8px 16px;
    background-color: #ff75ad;
    box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
    width: 100%;
}

.name-input {
    border-radius: 100px;
    border: none;
    width: 75%;
    padding-left: 8px;
    background-color: #cecece;
    color: black;
}

.select {
    background-color: #cecece;
    color: black;
    border: none;
    border-radius: 16px;
    width: 75%;
    height: 24px;
}
