.container {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: var(--main6);
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    width: 100%;
}
.princesses-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 750px;
    width: 100%;
}

.sidebar {
    background-color: #ededed;
    min-height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bp-logo {
    margin: 32px 0 16px 0;
    width: 60%;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    padding: 8px;
    background-color: #ff75ad;
    box-shadow: 0 4px 4px rgb(0 0 0 / 0.25);
    margin-bottom: 65px;
}

@media (min-width: 1366px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        min-height: 100vh;
        width: 25%;
    }

    .princesses-container {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        padding-top: 32px;
    }
}
