.edit-princess {
    background-color: var(--main7);
    height: 100vh;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.edit-princess p,
.edit-princess h1 {
    margin: 0;
}
